[submodule "price-prediction"]
	path = machine-learning/week1/price-prediction
	url = https://github.com/17vali/price-prediction.git
[submodule "mydjangoproject"]
	path = backend/mydjangoproject
	url = https://github.com/17vali/mydjangoproject.git
[submodule "marketplace-chatbot"]
	path = machine-learning/week4/marketplace-chatbot
	url = https://github.com/17vali/marketplace-chatbot.git
