.Home {
    height : 3589px;
    background:#FFF;
    position: relative;
    display:flex;
}

.Rectangle1 {
    width: 100%;
    height: 1000px;
    position: absolute;
    background: #022325;
    display:flex;
}

.Navbar {
    height: 158px;
    width:100%;
    position:absolute;
    display:flex;
    background: linear-gradient(180deg, #022325 0.52%, rgba(2, 35, 37, 0.00) 100%);
}

.group1 {
    width: 636px; 
    height: 33px; 
    right: 75px; 
    top: 61px; 
    display:flex;
    position: absolute;
}
.active{
    width: 216px; 
    height: 33px; 
    right: 70%; 
    top: 0px; 
    position: absolute; 
    text-align: center; 
    color: #21e8e8; 
    font-size: 35px; 
    font-family: Kaisei Tokumin; 
    font-weight: 400;
}

.about {
    width: 237px; 
    height: 33px; 
    right: 35%; 
    top: 0px; 
    position: absolute; 
    text-align: center; 
    color: #F3F8F8; 
    font-size: 35px; 
    font-family: Kaisei Tokumin; 
    font-weight: 400;
}

.contact {
    width: 237px; 
    height: 33px; 
    right: 0; 
    top: 0px; 
    position: absolute; 
    text-align: center; 
    color: #F3F8F8; 
    font-size: 35px; 
    font-family: Kaisei Tokumin; 
    font-weight: 400;
}

.Logo {
    top: 12px;
    left: 5%;
    position: absolute;
    width: 170px;
    height: 161px;
}

.Group1 {
    width: 100%;
    height: 420px;
    top : 1000px;
    background:#078087;
    position:absolute;
}

.arrows1 {
    left : 17.5%;
    top: 600px;
    position:absolute;
}

.arrows2{
    left : 82.5%;
    top:600px;
    position:absolute;
}

.carousel {
    margin: auto;
    width: 65%; 
    padding-top: 4%;
    padding-left:4%;
    padding-bottom: 5%;
}
.carousel img{
    margin:auto;
    top: 2.5%;
    width:70%;
    height:50%;
    display:block;
}

.howitworks {
    top:88.5%;
    left:45%;
    position:absolute;
    text-shadow: 2px 2px  #0e0e0e;
    color: #C5F2F5;
    text-align: center;
    font-size: 2.1875rem;
    font-family: Inria Serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.step1 {
    top:-45px;
    left:8%;
    border:7.5px solid #FFF;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.25);
    width: 25%;
    height: 85%;
    padding: 0.5%;
    background: #abece7; 
    position:absolute;
    margin:auto;
}

.step1 img {
    margin:auto;
    display:block;
    width : 30%;
}
.step2 {
    top: -45px;
    left:38%;
    border:7.5px solid #FFF;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.25);
    width: 25%;
    height: 85%;
    padding: 0.5%;
    background: #abece7; 
    position:absolute;
    margin:auto;
}

.step2 img {
    margin:auto;
    display:block;
    width:30%;
}

.step3 {
    top:-45px;
    left:68%;
    border:7.5px solid #FFF;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.25);
    width: 25%;
    height: 85%;
    padding: 0.5%;
    background: #abece7; 
    position:absolute;
    margin:auto;
}

.step3 img {
    display:block;
    margin:auto;
    width:30%;
}

.signup {
    top:50%;
    left:1.5%;
    text-shadow: 0px 0px 1px #161616;
    position:absolute;
    color: #044348;
    text-align: center;
    font-size: 30px;
    font-family: Inika;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    word-wrap: break-word;
}

.verified {
    top:50%;
    left:1.5%;
    text-shadow: 0px 0px 1px #161616;
    position:absolute;
    color: #044348;
    text-align: center;
    font-size: 30px;
    font-family: Inika;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    word-wrap: break-word;
}

.enjoy {
    top:50%;
    left:1.5%;
    text-shadow: 0px 0px 1px #161616;
    position:absolute;
    color: #044348;
    text-align: center;
    font-size: 30px;
    font-family: Inika;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    word-wrap: break-word;
}

.whatwedo {
    width:100%;
    height:1563px;
    top:1420px;
    position:absolute;
    background: #022325;
}

.group3 {
    text-align:center;
    width:40%;
    text-shadow: 2px 2px  #aee6e6;
    top:125px;
    left:7%;
    color: #c7e8eb;
    position:absolute;
    text-align: center;
    font-size: 75px;
    font-family: fangsong;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.group4 {
    top:125px;
    border:10px solid #FFF;
    left:51%;
    width:40%;
    height:601px;
    position:absolute;
    background: #BDF3EF;
}

.group5 {
    top:450px;
    border:10px solid #FFF;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.25);
    left:8%;
    width:43%;
    height:670px;
    position:absolute;
    background: #9bf3ed;
}

.group6 {
    top:725px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.25);
    border:10px solid #FFF;
    left:50%;
    width:45%;
    height:720px;
    position:absolute;
    background:#6AF6FE;;
}

.image1{
    top:200px;
    left:-0.5%;
    position:absolute;
}

.image2{
    top:310px;
    left:43%;
    position:absolute;
}

.image3{
    top:180px;
    left:-5%;
    position:absolute;
}

.text1 {
    top:8%;
    left:58%;
    position:absolute;
    text-shadow: 0px 0px 2px #161616;
    color: #044348;
    text-align: center; 
    font-size: 50px;
    font-family: Inika;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text2 {
    top:28%;
    left:45%;
    width:53%;
    text-shadow: 0px 0px 1px #161616;
    position:absolute;
    color: #044348;
    text-align: center;
    font-size: 35px;
    font-family: Inika;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text3 {
    top:10%;
    left:40%;
    text-shadow: 0px 0px 2px #161616;
    position:absolute;
    color: #044348;
    text-align: center;
    font-size: 50px;
    font-family: Inika;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text4 {
    top:30%;
    left:31.5%;
    width:65%;
    text-shadow: 0px 0px 1px #161616;
    position:absolute;
    color: #044348;
    text-align: center;
    font-size: 35px;
    font-family: Inika;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text5 {
    top:10%;
    left:17%;
    position:absolute;
    text-shadow: 0px 0px 2px #161616;
    color: #044348;
    text-align: center;
    font-size: 50px;
    font-family: Inika;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text6 {
    top:30%;
    left:4%;
    width:65%;
    text-shadow: 0px 0px 1px #161616;
    position:absolute;
    color: #044348;
    text-align: center;
    font-size: 35px;
    font-family: Inika;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.customerspeaks {
    width:100%;
    height:1200px;
    top:2983px;
    position:absolute;
    background: #15b4bd;
}

.whattheysay{
    text-align:center;
    width:40%;
    top:75px;
    left:31%;
    text-shadow: 0px 1px 3px #0b0b0b;
    color: #ffffff;
    position:absolute;
    text-align: center;
    font-size: 80px;
    font-family: "Gill Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.photo {
    width:40%;
    height:700px;
    top:400px;
    position:absolute;
    background: #92ced2;    
}

.pic {
    left:20%;
    top:-20%;
    position:absolute;
}
.colon {
    top:370px;
    left:48%;
    position:absolute;
}

.feedback {
    top:45%;
    left:48%;
    width:48%;
    text-shadow: 0px 0px 2px #161616;
    position:absolute;
    color: #e9f0f0;
    text-align: left;
    font-size: 50px;
    font-family: Inika;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.arr1 {
    width:65px;
    height:65px;
    padding-left: 12px;
    padding-top: 12px;
    left:70%;
    top:85%;
    position:absolute;
    background: #21e8e8;
}

.arr2 {
    width:65px;
    height:65px;
    padding-left: 12px;
    padding-top: 12px;
    left:73%;
    top:85%;
    position:absolute;
    background: #023030;
}

.footer {
    top:4183px;
    width:100%;
    height:300px;
    position:absolute;
    background:#022325;
}

.footlogo {
    left:5%;
    position:absolute;
    top:1%
}