*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    background-image: linear-gradient(#acd5f3 3.81%,
    rgba(74, 153, 211, 0) 100%);
    flex-direction: column;
    overflow-x: hidden;
}
.container{
    width: 100%;
    height: 100vh;
    margin:auto auto;
}
/* @media only screen and (min-width:360px) and (max-width:480px){
    .container{
        width: 100%;
        height: 60vh;
        padding: 0;
    }
    .logo{
        margin-left:100px;
        margin-top:0px;
        letter-spacing: 1px;
    }
    .nav{
        margin-top:40px;
        float:left;
        color:white
    }
} */
.logo{
    width:15%;
    height:auto;
    float:left;
    position:absolute;
    top:20px;
    color:#4A99D3;
    left:45px;
    z-index:9864;
    letter-spacing: 1px;
    font-weight: 800;
}
@media only screen and (min-width: 800px){
    .logo{
        width:15%;
        height:auto;
        float:left;
        position:absolute;
        top:20px;
        left:200px;
        z-index:9864;
        letter-spacing: 1px;
    }
}
.logo:hover{
    cursor: pointer;
}
.nav{
    display: inline-flex;
    margin-left:30px;
    color:white;
    font-size: 20px;
}
@media only screen and (min-width: 800px) {
    .nav{
        display: inline-flex;
        margin-left:30px;
        margin-right:30px;
        color:white
    }
}
.nav:hover{
    color:#078fef;
    cursor: pointer;
}
.other{
    display: inline-flex;
    margin-top:24px;
    position: absolute;
    right:10px;
}
@media only screen and (min-width:800px){
    .photos{
        display: block;
        position: absolute;
        margin-left:18%;
        width:700px;
    }
}
@media only screen and (min-width:360px) and (max-width:480px){
    .slide{
        margin-left:20px;
    }
    .btncaro{
        width:50px;
        height: 50px;
    }
}
.second_page{
    background-color: white;
    display: flex;
    width: 100vw;
    height: fit-content;
}
.para{
    color:black;
    width:200px;
    height: fit-content;
    position: relative;
    top:50px;
    left:60px;
    text-align: left;
    font-size:20px;
    font-weight: 600;
    word-spacing: 1px;
}
@media only screen and (min-width:800px){
    .para{
        color:black;
        width:200px;
        height: fit-content;
        position: relative;
        top:60px;
        left:150px;
        text-align: left;
        font-size:30px;
        font-weight: 600;
        word-spacing: 1px;
    }
}
.brand{
    left:180px;
    top:50px;
    box-shadow: -5px -5px 5px -1px  #97c3e3;
}
.brand2{
    top:300px;
    right:350px;
    box-shadow: -5px -5px 5px -1px  #97c3e3;
}
.brand3{
    width: 15.3rem;
    top:250px;
    left:350px;
    box-shadow: -5px -5px 5px -1px  #97c3e3;
}
@media only screen and (min-width:800px){
    .brand{
        left:40vw;
        top:50px;
        box-shadow: -5px -5px 5px -1px  #97c3e3;
    }
    .brand3{
        width:18rem;
        top:250px;
        left:55vw;
        box-shadow: -5px -5px 5px -1px  #97c3e3;
    }
}
.carousels{
    background-color: white;
    padding-bottom:270px;
}
/* .carousels:active{
    background-color: white;
    padding-bottom:270px;
    opacity: 1;
    transition:all 1s ease;
} */
.carousel_{
    font-size:20px;
    font-weight: 600;
}
.carousel_link{
    text-decoration: none;
}
.working{
    height:50vh;
    background-color: #d4e4ef;
}
.heading{
    margin-top: 20px;
    color:#4A99D3;
    cursor:default;
    text-align: center;
    word-spacing: 5px;
    letter-spacing: 1px;
}
.content__{
    height: inherit;
    display: flex;
    align-items: center;
}
.common{
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.icon{
    margin-bottom: 15px;
    font-size: 40px;
    color:rgb(180, 120, 9);
}
.icon:hover{
    color:#078fef;
    cursor: pointer;
}
.content{
    margin-top:8vh;
    text-align: center;
    display: flex;
    justify-content: space-around;
    height:30vh;
    align-items: center;
}
.clients{
    width:100vw;

}
.heading_client{
    text-align: center;
    margin:10px auto;
    font-size: 30px;
    color:black;
    font-weight: 500;
    background-color: white;
    padding: 10px;
    margin: 0;
}
.back{
    position: absolute;
    width: 100vw;
    height:40px;
    background-color: white;
}
.slider_clients{
    position: relative;
    display: flex;
    width:100%;
    background-color:#97c3e3;
}
.client_image{
    z-index: 3489;
    width:30vw;
}
.colon{
    position: relative;
    top:90px;
    left: 75px;
}
.client_thoughts{
    position: relative;
    text-align: center;
    margin:auto auto;
    width:350px;
    font-size: 20px;
}
.name{
    position: relative;
    text-align:end;
    margin:auto auto;
    right:100px;
    top:100px;
}
.slide_button{
    position: relative;
    display:flex;
    top:5px;
    justify-content: flex-end;

}
.button1{
    height: 50px;
    width:50px;
    border:solid black 1px;
    background-color:#acd5f3;
    border-radius:5px 0 0 5px;
}
.button2{
    margin-right:50px;
    height: 50px;
    width:50px;
    border:solid black 1px;
    background-color:#acd5f3;
    border-radius:0px 5px 5px 0px;
}
.button1:hover{
    background-color: #078fef;
    color: white;
}
.button2:hover{
    background-color: #078fef;
    color: white;
}
.footer{
    margin-top:20px;
    height:100%;
    background-color: #078fef;
}
.final{
    position: relative;
    top:10px;
    left:20px;
    font-size:30px;
    font-weight: 600;
}


