*{font-family: Cambay;}
body{
    width: 90rem;
height: 224.3125rem;
background: #FFF;
display: flex;
flex-direction: column;
margin:0px 0px 0px 0px 
}
.home{
    width: 90rem;
height: 48rem;
flex-shrink: 0;
background: linear-gradient(180deg, rgba(74, 153, 211, 0.20000000298023224) 7.81%, rgba(74, 153, 211, 0.00) 100%), #FFF;
box-shadow: 0px 4px 16px 0px rgba(75, 0, 129, 0.26);
display: flex;
flex-direction: column;
}
header{
    width: 58.4375rem;
    position: relative;
height: 4.0625rem;
flex-shrink: 0;
margin-top:2.81rem;
margin-left:15.31rem;
display: flex;
}
#Logo{
    color: #4A99D3;
font-size: 2.5rem;
/* font-family: Cambay; */
font-weight: 700;
}
.info{
    position: relative;
    width: 18.5625rem;
height: 1.8125rem;
flex-shrink: 0;
right:-22rem;
}
.info a{
margin-top:0.88rem;
color: #0F001A;
font-size: 1.125rem;
font-family:Cambay;
text-decoration: none;
}
#Home a:visited{
    color: #4A99D3;
    text-decoration: none;
}
#Abo{
    left:6.5rem;
    position:relative;
}
#Abo a:visited{
    color: #4A99D3;
    text-decoration: none;
}
#Cont{
    left:13.06rem;
    position:relative;
}
#Cont a:visited{
    color: #4A99D3;
    text-decoration: none;
}
.page1middle{
    display: flex;
    align-items: center;
}

.box1{
    width: 5rem;
height: 5rem;
background: #4A99D3;
display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;border-radius: 4px 0px 0px 4px;
    left:12.31rem;
    position:relative;
}
.box2{
    width: 5rem;
height: 5rem;
background: #4A99D3;
display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 0px 4px 4px 0px;
    left:69.81rem;
}
.img1{
    width:53.687rem;
    height:35.812rem;
    position: relative;
    left:17.31rem;
}
.page2{
    height:92.19rem;
    flex-shrink: 0;
    width: 90rem;
    display:flex;    
}
.page2LS{
    width:45rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}
.page2RS{
    width:45rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}
#whatwedotext{
    position: relative;
    left:15.31rem;
    top:9.38rem;
    width: 21.5rem;
    height: 8.625rem;
    color: #260041;
font-size: 2.25rem;
font-family: Cambay;
line-height: 2.875rem;
letter-spacing: 0.1125rem;
}
.receive,.send,.buy{
    width: 23.75rem;
height: 32.8125rem;
flex-shrink: 0;border-radius: 10px;
background: #FFF;
box-shadow: 5px 20px 50px 0px rgba(74, 153, 211, 0.20);
}
.receive{
    left:20.62rem;top:28.62rem;
    position: relative; 
}
.send{
    left:5.94rem;top:10.12rem;
    position: relative; 
}
.buy{
    left:5.94rem;top:17.18rem;
    position: relative; 
}
#receive,#send,#buy{
    color: var(--text-color, #0F001A);
font-size: 1.25rem;
font-family: Cambay;
line-height: 1.875rem;
letter-spacing: 0.025rem;

left:3rem;top:14.19rem;
position: absolute;
}
#text{
    display: flex;
    width: 17.75rem;
    height: 6.4375rem;
    flex-direction: column;
    flex-shrink: 0;
    color: var(--text-color, #0F001A);
    font-size: 1rem;
    font-family: Cambay;
    line-height: 1.625rem;
    opacity: 0.6000000238418579;

    left:3rem;top:17.62rem;
position: absolute;
}
#LearnMore{
    color: #4A99D3;
font-size: 0.875rem;
font-family: Cambay;
line-height: 1.875rem;
letter-spacing: 0.04375rem;

left:3rem;top:27.94rem;
position: absolute;
}
#LearnMoreImg{
    left:9.44rem;top:28.12rem;
position: absolute;
}

.page3{

    width: 90rem;
height: 29.75rem;
flex-shrink: 0;
display: flex;
background: rgba(74, 153, 211, 0.10);
flex-direction: column;
}
.htw{
    color: #4A99D3;
text-align: center;
font-size: 1.625rem;
font-family: Cambay;
font-weight: 700;
width: 90rem;

left:39.94rem;top:5.94rem;
position: relative;
}
.p3info{
    display: flex;
    width:90rem;
    flex-shrink: 0;
    justify-content: space-around;
    top:13.12rem;
    position: relative;
}
#p31,#p32,#p33{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
}
#p3img1,#p3img2,#p3img3{
    width: 3.75rem;
    height: 3.75rem;
}
#p31t1,#p31t2,#p31t3{
    color:#0F001A;
font-size: 1.125rem;
font-family: Cambay;
text-align: center;
}
#p3infot{color: #0F001A;
    text-align: center;
    font-size: 1rem;
    font-family: Cambay;
    line-height: 1.625rem;}
.page4{
    display: flex;
    width: 90rem;
    height: 47.69rem;
    flex-direction: column;
    align-items: center;
}
.whatourclient{
    width:90rem;
    height:9rem;
    align-items: center;
    display: flex;
}
#whatourclient{
    color: var(--text-color, #0F001A);
    width: 90rem;
text-align: center;
font-size: 1.625rem;
font-family: Cambay;
font-weight: 700;
top:2.88rem;
position: relative;
}
.p4review{
    display: flex;
    width: 90rem;
}
.p4im{
    width: 42.3125rem;
height: 25rem;
flex-shrink: 0;
border-radius: 0px 6px 6px 0px;
background: rgba(74, 153, 211, 0.10);
position: relative;
top: 8.19rem;
left: 0rem;
}
#p4rework{
    left:6.25rem;
    top:13.05rem;
    position: relative;
}
.p4retext{
    display: flex;
    width: 26.125rem;
    flex-direction: column;
    flex-shrink: 0;left:6.25rem;
    top:13.05rem;
    position: relative;
}
.author{
    left:6.25rem;
    top:25rem;position: relative;
    color: var(--text-color, #0F001A);
font-size: 1.125rem;
font-family: Cambay;
}
.p4next{
    width: 5rem;
height: 5rem;
background: #4A99D3;
display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;border-radius: 4px 0px 0px 4px;
}
.changesymb{
    display: flex;
    border-radius: 4px;
background: #FFF;
box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
width: 10rem;
height: 5rem;
flex-shrink: 0;
left:20.94rem;
    top:20.94rem;
    position:relative;
}
.p4prev{
    width: 5rem;
height: 5rem;
background:#FFFFFF;
display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;border-radius: 4px 0px 0px 4px;
    left:1rem;
    top:0rem;
    position:relative;
}
#sendimg{
    left:4.88rem;
    top:-0.74rem;
    position: relative;
}
#receiveimg{
    left:4.62rem;
    top:3rem;
    position: relative;
}
#buyimg{
    left:7.74rem;
    top:3.06rem;
    position: relative;
}
.footer{
    width: 90rem;
height: 6.70906rem;
flex-shrink: 0;
background: #4A99D3;
}