
<!DOCTYPE html>
<html>
<head>
    <title>Product Details</title>
    <link rel="stylesheet" type="text/css" href="../../static/mydjangoapp/style4.css">
</head>
<body>
    <div class="top-left">
        {% if user.is_authenticated %}
            Logged in as: {{ user.username }} <a class="logout-button" href="../../logout">Logout</a>
        {% else %}
            <a class="login-button" href="../../login">Login</a>
        {% endif %}
    </div>

    <div class="top-right">
        {% if user.is_authenticated %}
        <a class="login-button" href="../../add-product">Add Product</a>
        {% endif %}
    </div>

    <div class="container">
        {% if product %}
            <div class="product-card">
                <div class="product-image">
                    {% if product.image %}
                            <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    {% else %}
                    No image.
                    {% endif %}
                </div>
                <div class="product-details">
                    <h2 class="gradient-title">{{ product.name }}</h2>
                    <p class="description">{{ product.description }}</p>
                    <p class="price">${{ product.price }}</p>
                    <p>Stock: {{ product.stock }}</p>
                    <p>Status: {% if product.is_available %}Available{% else %}Sold{% endif %}</p>
                    <p>Added Date: {{ product.addDate }}</p>
                    <!-- Add more details as needed from your Product model -->
                    <button class="add-to-cart-button">Add to Cart</button>
                </div>
            </div>
        {% else %}
            <p>Product not found.</p>
        {% endif %}
    </div>
</body>
</html>
