<!DOCTYPE html>
<html>
<head>
    <title>Product Listing</title>
    <link rel="stylesheet" type="text/css" href="../../static/mydjangoapp/style2.css">
</head>
<body>
    <div class="top-left">
        {% if user.is_authenticated %}
            Logged in as: {{ user.username }} <a class="logout-button" href="../../logout">Logout</a>
        {% else %}
            <a class="login-button" href="../../login">Login</a>
        {% endif %}
    </div>

    <div class="top-right">
        {% if user.is_authenticated %}
        <a class="login-button" href="../../add-product">Add Product</a>
        {% endif %}
    </div>

    <div class="container">
        {% if latest_product_list %}
            {% for product in latest_product_list %}
                <a href="../products/{{ product.id }}" class="product-link">
                    <div class="product-card">
                        <div class="product-image">
                            {% if product.image %}
                            <img src="{{ product.image.url }}" alt="{{ product.name }}">
                            {% else %}
                            No image.
                            {% endif %}
                        </div>
                        <div class="product-details">
                            <h2 class="gradient-title">{{ product.name }}</h2>
                            <p class="description">{{ product.description }}</p>
                            <p class="price">${{ product.price }}</p>
                        </div>
                    </div>
                </a>
            {% endfor %}
        {% else %}
            <p>No products available.</p>
        {% endif %}
    </div>
</body>
</html>
