<!DOCTYPE html>
<html lang="Us-en">
  <head>
    <title>Add Product</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
  </head>
  <body class="row align-items-center justify-content-center min-vh-100">
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <form action="{% url 'add_product'%}" method="POST" class="card w-75 p-3">
        {% csrf_token %}
      <div class="mb-3">
        <label for="name" class="form-label"
          >Name</label
        >
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          placeholder="name@example.com"
        />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label"
          >Description</label
        >
        <textarea
          class="form-control"
          id="description"
          rows="3"
          name="description"
        ></textarea>
      </div>
      <label for="price" class="form-label">Price</label>
      <input type="number" class="form-control" id="price" name="price" />
      <div class="col-12 py-2">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </body>
</html>
