body {
    background-color: #19102b;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.resultsdiv {
    align-self: center;
    align-content: center;
    color: whitesmoke;

    margin-top: 40px;
    margin-bottom: 40px;

    background-color: rgba(255, 255, 255, 0.1);
    

    padding: 3rem;
    border-radius: 3rem;

    min-width: none;
    min-height: none;
}

th {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;

    color: whitesmoke;

    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
}

td {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;

    color: whitesmoke;

    padding-left: 100px;
    padding-right: 100px;
    
}

p {
    padding: 0;
    margin: 0;
}

h1 {
    align-self: center;
    align-content: center;
    margin-top: 90px;
    margin-bottom: 25px;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 5rem;

    background: -webkit-gradient(linear, left top, right bottom, from(#d552de), to(#52aede));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

button {
    margin-top: 20px;
    margin-bottom: 50px;

    align-self: center;
    align-content: center;
    min-width: 7vw;
    min-height: 6vh;
    border-radius: 0.5vh;

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;

    background: -webkit-gradient(linear, left top, right bottom, from(#d552de), to(#52aede)); 
    transition: transform 250ms;
}

button:hover {
    transform: translateY(-10px);
}

.loader {
    align-self: center;
    align-content: center;

    border: 7px transparent; 
    border-top: 7px solid #d552de;

    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;

  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }