<!DOCTYPE html>
<html>
<head>
  <title>Summer-of-Code-2023 IIT-Delhi</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <script>
    // Event listener for the search form submission
    const searchForm = document.querySelector('.search-section form');
    searchForm.addEventListener('submit', handleSearch);
  
    // Event listener for the suggest price form submission
    const suggestPriceForm = document.querySelector('.suggest-section form');
    suggestPriceForm.addEventListener('submit', handleSuggestPrice);
  </script>
  <script>
    // Function to handle the suggest price form submission
    function handleSuggestPrice(event) {
      event.preventDefault();
      const form = event.target;
      const formData = new FormData(form);
  
      fetch(form.action, {
        method: 'POST',
        body: formData
      })
      .then(response => response.json())
      .then(data => {
        // Handle the result, e.g., display it in a pop-up window
        alert('Result: ' + data.result);
      })
      .catch(error => {
        console.error('Error:', error);
      });
    }
  </script>
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>

  <script>
    
    const cat_1 = [
      "Women",
      "Beauty",
      "Kids",
      "Electronics",
      "Men",
      "Home",
      "Vintage & Collectibles",
      "Handmade",
      "Sports & Outdoors",
      "Other"
    ];

    const cat_2 = [
      "Athletic Apparel",
      "Makeup",
      "Tops & Blouses",
      "Shoes",
      "Jewelry",
      "Toys",
      "Cell Phones & Accessories",
      "Women's Handbags",
      "Dresses",
      "Women's Accessories",
      "Jeans",
      "Video Games & Consoles",
      "Sweaters",
      "Underwear",
      "Skin Care",
      "Home Décor",
      "Fragrance",
      "Kitchen & Dining",
      "Tops",
      "Other",
      "Swimwear",
      "Men's Accessories",
      "Girls 2T-5T",
      "Coats & Jackets",
      "Girls 0-24 Mos",
      "Girls (4+)",
      "Boys 0-24 Mos",
      "Boys (4+)",
      "Boys 2T-5T",
      "Tools & Accessories",
      "Media",
      "Daily & Travel items",
      "Skirts",
      "Office supplies",
      "Pants",
      "TV, Audio & Surveillance",
      "Clothing",
      "Sweats & Hoodies",
      "Accessories",
      "Exercise",
      "Books",
      "Hair Care",
      "Bath & Body",
      "Computers & Tablets",
      "Toy",
      "Trading Cards",
      "Fan Shop",
      "Paper Goods",
      "Bags and Purses",
      "Antique",
      "Collectibles",
      "Seasonal Décor",
      "Feeding",
      "Outdoors",
      "Bedding",
      "Cameras & Photography",
      "Pet Supplies",
      "Diapering",
      "Maternity",
      "Gear",
      "Apparel",
      "Storage & Organization",
      "Electronics",
      "Home Appliances",
      "Automotive",
      "Cleaning Supplies",
      "Housewares",
      "Team Sports",
      "Suits & Blazers",
      "Serving",
      "Nursery",
      "Book",
      "Shorts",
      "Children",
      "Artwork",
      "Bath",
      "Supplies",
      "Musical instruments",
      "Car Seats & Accessories",
      "Pregnancy & Maternity",
      "Music",
      "Golf",
      "Bathing & Skin Care",
      "Kids' Home Store",
      "Art",
      "Weddings",
      "Glass",
      "Health & Baby Care",
      "Footwear",
      "Car Audio, Video & GPS",
      "Home Decor",
      "Strollers",
      "Safety",
      "Holidays",
      "Others",
      "Needlecraft",
      "Pets",
      "Crochet",
      "Magazines",
      "Patterns",
      "Furniture",
      "Knitting",
      "Paper Ephemera",
      "Potty Training",
      "Woodworking",
      "Geekery",
      "Suits",
      "Blazers & Sport Coats",
      "Ceramics and Pottery",
      "Candles",
      "Dolls and Miniatures",
      "Books and Zines",
      "Quilts"
    ];


    const cat_3 = [
      "Pants, Tights, Leggings",
      "Other",
      "Face",
      "Shoes",
      "Lips",
      "Games",
      "Athletic",
      "Eyes",
      "Cases, Covers & Skins",
      "Shorts",
      "Bras",
      "Tank, Cami",
      "Blouse",
      "Above Knee, Mini",
      "Boots",
      "Necklaces",
      "Makeup Palettes",
      "Women",
      "Shirts & Tops",
      "Shoulder Bag",
      "Sandals",
      "Wallets",
      "Knee-Length",
      "Tops & T-Shirts",
      "Bracelets",
      "Slim, Skinny",
      "Dolls & Accessories",
      "Home Décor Accents",
      "Two-Piece",
      "Action Figures & Statues",
      "Earrings",
      "Hats",
      "One-Pieces",
      "Rings",
      "Body",
      "Hooded",
      "Accessories",
      "Cell Phone Accessories",
      "Coffee & Tea Accessories",
      "Jackets",
      "Totes & Shoppers",
      "Sports Bras",
      "Messenger & Crossbody",
      "Sunglasses",
      "Cell Phones & Smartphones",
      "Panties",
      "Cardigan",
      "Dresses",
      "Crewneck",
      "Tunic",
      "Watches",
      "Bottoms",
      "Pumps",
      "DVD",
      "Makeup Brushes & Tools",
      "Boot Cut",
      "Arts & Crafts",
      "Coats & Jackets",
      "Leggings",
      "Tracksuits & Sweats",
      "Makeup Sets",
      "Nails",
      "Stuffed Animals & Plush",
      "Full-Length",
      "Personal Care",
      "Flats",
      "Loafers & Slip-Ons",
      "Action Figure",
      "Hair Accessories",
      "Dining & Entertaining",
      "Bath",
      "Collectibles",
      "Home Fragrance",
      "Shipping Supplies",
      "Headphones",
      "Socks",
      "Backpack Style",
      "Fitness accessories",
      "Consoles",
      "Sticker",
      "Top & T-shirts",
      "Cosmetic Bags",
      "Jerseys",
      "One-Piece",
      "Hair Styling Tools",
      "Fleece Jacket",
      "Hoodie",
      "Button Down Shirt",
      "Cables & Adapters",
      "NFL",
      "Knit Top",
      "Asymmetrical Hem",
      "Literature & Fiction",
      "Full Zip",
      "iPad",
      "Straight, Pencil",
      "Windbreaker",
      "Animation",
      "Sweatshirt, Pullover",
      "Candles & Home Scents",
      "Hobbies",
      "Mini",
      "Sports",
      "Vest",
      "Health Care",
      "Casual Pants",
      "Maxi",
      "Belts",
      "Lingerie",
      "Scarves & Wraps",
      "Dogs",
      "Brushes & Applicators",
      "Styling Products",
      "Jewelry",
      "Kitchen Utensils & Gadgets",
      "Video Game",
      "Polo, Rugby",
      "Satchel",
      "Costume",
      "Men",
      "Keychain",
      "Candles & Holders",
      "Halloween",
      "Blu-Ray",
      "Building Toys",
      "Christmas",
      "Screen Protectors",
      "Chargers & Cradles",
      "Jeans",
      "Purse",
      "Portable Audio & Accessories",
      "Baby & Toddler Toys",
      "Fitness technology",
      "Slippers",
      "Button-Front",
      "Hiking & Camping",
      "Backpacks & Carriers",
      "Bottle-Feeding",
      "G-Strings & Thongs",
      "Headsets",
      "School Supplies",
      "Jean Jacket",
      "Shampoo & Conditioner Sets",
      "Laptops & Netbooks",
      "Classic, Straight Leg",
      "Backpacks, Bags & Briefcases",
      "Capris, Cropped",
      "Blankets & Throws",
      "Household Cleaners",
      "Jewelry Boxes & Organizers",
      "Swimwear",
      "CD",
      "Track & Sweat Pants",
      "Bedding",
      "Sports Nutrition",
      "Straight Leg",
      "Children's Books",
      "Capri, Cropped",
      "Halter",
      "Glass",
      "Digital Cameras",
      "Dress Pants",
      "Sweater",
      "Blazer",
      "Figurine",
      "Handbag",
      "Lanyard",
      "Education & Teaching",
      "Hair",
      "Hair & Scalp Treatments",
      "Motorcycle",
      "Bakeware",
      "Skirts, Skorts & Dresses",
      "Diaper Bags",
      "Doll",
      "Disposable Diapers",
      "Video Gaming Merchandise",
      "Sets",
      "Others",
      "Gadgets",
      "Dress Up & Pretend Play",
      "Comics",
      "Wine, Beer & Beverage Coolers",
      "Scrapbooking",
      "Camera & Photo Accessories",
      "MLB",
      "Boys",
      "Learning & Education",
      "Puffer",
      "Charm",
      "Wristlet",
      "Toy Remote Control & Play Vehicles",
      "NCAA",
      "Tops & Blouses",
      "Film Photography",
      "Beach Accessories",
      "V-Neck",
      "Mid-Calf",
      "Components & Parts",
      "Party Supplies",
      "Cover-Ups",
      "Mules & Clogs",
      "Sheets & Pillowcases",
      "Pants",
      "Sun",
      "Storage & Organization",
      "Bathroom Accessories",
      "Electronics",
      "Decorative Pillows",
      "Medical Supplies & Equipment",
      "Writing",
      "Souvenir",
      "Kitchen Appliances",
      "Tumbler",
      "Mug",
      "Boyfriend",
      "Scrubs & Body Treatments",
      "Posters & Prints",
      "Patch",
      "Vinyl",
      "Khakis, Chinos",
      "Pacifiers & Accessories",
      "Toy",
      "Electronics for Kids",
      "Flare",
      "Lamps& Accessories",
      "A-Line",
      "Photo Albums & Frames",
      "Cloth Diapers",
      "Cleansers",
      "Hands & Nails",
      "Tapestries",
      "Puzzles",
      "Exterior Accessories",
      "Cargo",
      "Drives, Storage & Media",
      "Ceramic",
      "Polo Shirt",
      "Storage & Containers",
      "Casual Shorts",
      "Peacoat",
      "Corset",
      "Baseball & Softball",
      "Hair Color",
      "Breastfeeding",
      "NBA",
      "Car",
      "Wrap",
      "Military",
      "Dance",
      "Window Treatments",
      "Comforters & Sets",
      "Cowl Neck",
      "Tools & Equipment",
      "Organization",
      "Collared",
      "Vest, Sleeveless",
      "Ink & Toner",
      "Girls",
      "Calendars",
      "Cookware",
      "Soccer",
      "Pendant",
      "Bags & Cases",
      "Nail Tools",
      "Yoga & Pilates",
      "Pleated",
      "Cleats",
      "Trench",
      "Sports & Outdoor Play",
      "Book",
      "Ring",
      "Kitchen & Table Linens",
      "Raincoat",
      "Conditioners",
      "Mirrors",
      "Dress Shirts",
      "Makeup Remover",
      "Clothing & Closet Storage",
      "Air Fresheners",
      "Shampoos",
      "Scoop Neck",
      "Breastfeeding Pillows & Stools",
      "Poncho",
      "Tank",
      "Ties",
      "Baby",
      "Indoor",
      "Cards",
      "Luggage",
      "Necklace",
      "Pant Suit",
      "Televisions",
      "Fishing",
      "Kids' Room Décor",
      "Football",
      "Skateboard",
      "Oxfords",
      "Bowl",
      "Overalls",
      "Cup",
      "Household Supplies",
      "Food",
      "Home Speakers & Subwoofers",
      "VHS",
      "Small Appliances",
      "Brooch",
      "Turtleneck, Mock",
      "Feet",
      "Medical Books",
      "Basic Supplies",
      "Full Skirt",
      "Lights & Lighting Accessories",
      "Clutch",
      "Swim Trunks",
      "Electronic",
      "Bathing Accessories",
      "Hobo",
      "Networking & Connectivity",
      "Relaxed",
      "Bracelet",
      "Styling Tools",
      "Parka",
      "Golf Apparel",
      "Car Electronics & Accessories",
      "Decorations",
      "Racks, Shelves & Drawers",
      "Printers, Scanners & Supplies",
      "Bike & Skate",
      "Wine Accessories",
      "Athletic Training",
      "Swings, Jumpers & Bouncers",
      "Clocks",
      "Tote",
      "Family Planning Tests",
      "Car Seats",
      "Wipes & Holders",
      "Interior Accessories",
      "Pinback Button",
      "Decorative Pillows, Inserts & Covers",
      "Religion & Spirituality",
      "Eyewear",
      "Stationery",
      "Flight",
      "Snowboard",
      "Gloves",
      "Water Sports",
      "Valentine",
      "Sci-Fi, Fantasy",
      "Baskets",
      "Wall Decor",
      "Vintage",
      "Sweatercoat",
      "Animal",
      "Painting",
      "Waxing",
      "Batteries",
      "Easter",
      "Supplies",
      "Turtleneck",
      "Duvet Covers & Sets",
      "Paintings",
      "Monitors",
      "Thermal Underwear",
      "DVD & Blu-ray Players",
      "Men's Golf Clubs",
      "Baskets & Bins",
      "Kids' Bedding",
      "Pin",
      "Change Purse",
      "Washcloths & Towels",
      "Bead",
      "Area Rugs & Pads",
      "Baby Seats",
      "Drawings",
      "Vacuums & Floor Care",
      "Bottles",
      "Christian Books & Bibles",
      "Wool",
      "Camera",
      "Towels",
      "Kitchen Knives & Cutlery Accessories",
      "Skin Care",
      "NHL",
      "Arts & Photography",
      "Vases",
      "Thanksgiving",
      "Home Decor",
      "Stationery & Party Supplies",
      "Fabric",
      "Work & Safety",
      "Cage",
      "Lenses & Filters",
      "Water Coolers & Filters",
      "Nursery Décor",
      "GPS Units & Equipment",
      "Novelty & Gag Toys",
      "Game",
      "Guitars",
      "Lifestyle & Cultures",
      "Microphones & Accessories",
      "Outdoor",
      "Baby Gyms & Playmats",
      "Backpack",
      "Desktops & All-In-Ones",
      "Jacket",
      "Yarn",
      "Wall Hanging",
      "Business & Money",
      "Instrument Accessories",
      "Home Surveillance",
      "Baby & Child Care",
      "Bathing Tubs & Seats",
      "Glassware",
      "Sewing",
      "Reference",
      "Science & Math",
      "Boxing & MMA",
      "Pouch",
      "Quilts",
      "Tripods & Supports",
      "Board Shorts",
      "Hat",
      "Hip Bag",
      "Basketball",
      "Golf Balls",
      "Leg Warmers",
      "100 Years or Older",
      "Knitting Supplies",
      "Shopping Cart Covers",
      "Car Stereos & Components",
      "Dress",
      "Porcelain",
      "Bed Pillows",
      "Kids",
      "Journal",
      "Tshirt",
      "Camcorders",
      "Hair Loss Products",
      "Children",
      "Volleyball",
      "Strength training",
      "Biographies & Memoirs",
      "Motorcycle & Powersports",
      "Asymmetrical",
      "Cookbook",
      "Linen",
      "Salt and Pepper Shakers",
      "Watch",
      "Teething Relief",
      "Fans",
      "Collar",
      "Stringed Instruments",
      "Changing Pads & Covers",
      "Highchairs & Booster Seats",
      "Shirt",
      "Prenatal Monitoring Devices",
      "Kids' Furniture, Décor & Storage",
      "Denim",
      "Shrug",
      "Tennis & Racquets",
      "Stamps",
      "Toothbrushes",
      "Travel Systems",
      "Potties & Seats",
      "Epilators",
      "Henley",
      "Two Button",
      "Tweezers",
      "Print",
      "Food Service Equipment & Supplies",
      "Sets & Kits",
      "Skirt Suit",
      "Snowsuits & Bibs",
      "Fiction",
      "DJ, Electronic Music & Karaoke",
      "Dress - Flat Front",
      "Art",
      "Rainwear",
      "50 To 75 Years",
      "Mattress Pads",
      "Magic",
      "Sweaters",
      "Humidifiers",
      "Gift Wrap",
      "Humidifiers & Vaporizers",
      "Lacrosse",
      "Keyboards",
      "Home Audio",
      "Notebook",
      "Strategy Guides",
      "Scarf",
      "Laundry Storage & Organization",
      "Leather",
      "Clothing",
      "Corduroys",
      "Baguette",
      "GPS Accessories & Mounts",
      "Wind & Woodwind Instruments",
      "Bags and Purses",
      "Sculptures",
      "Custom",
      "Mopping",
      "History",
      "Wide Leg",
      "Teethers",
      "Space Heaters",
      "Thermometers",
      "Hawaiian",
      "Garment Steamers",
      "Binoculars & Telescopes",
      "Diaper Pails & Refills",
      "Hockey",
      "Religious",
      "Cape",
      "Carpenter",
      "Tricycles, Scooters & Wagons",
      "Bowls",
      "Baggy, Loose",
      "All Other Sports",
      "Cabinet Locks & Straps",
      "Apron",
      "Track Jacket",
      "Harnesses & Leashes",
      "Paper Towels",
      "Amplifiers & Effects",
      "Personalized",
      "Walkers",
      "Formal",
      "Laptop",
      "Soaps & Cleansers",
      "Ornaments",
      "Track & Sweat Suits",
      "Maternity",
      "Living Room Furniture",
      "Drums & Percussion",
      "Swim Briefs",
      "Irons & Ironing Boards",
      "Cabochon",
      "Replacement Parts & Tools",
      "Board, Surf",
      "Cross Stitch",
      "Car Care",
      "Politics & Social Sciences",
      "75 To 100 Years",
      "Training Pants",
      "Lighting & Studio",
      "Birthday",
      "Vests",
      "Skirt",
      "Crafting",
      "Playards",
      "Plate",
      "Bedspreads & Coverlets",
      "Printmaking",
      "Pet Lover",
      "Polo",
      "Air Conditioners",
      "Buckle",
      "Varsity",
      "Radio",
      "Coaster",
      "Nonfiction",
      "Poetry",
      "Science",
      "Other Accessories",
      "Cake Toppers",
      "Candle Holder",
      "Shampoo Plus Conditioner",
      "Bathroom Storage & Organization",
      "Athletic Apparel",
      "Gift Sets",
      "Teacup",
      "Favors",
      "Bedroom Furniture",
      "Magnets",
      "Signs",
      "Studio Recording Equipment",
      "Car Speakers & Systems",
      "Comic",
      "Tape",
      "Planter",
      "Kitchen Storage & Organization",
      "Embroidery",
      "Kids' Furniture",
      "Air Purifiers",
      "Paper",
      "Trash Bags",
      "Outdoor Safety",
      "Puzzle",
      "Car Video",
      "Accessory",
      "Shampoo",
      "St Patrick's",
      "Home Office Furniture",
      "Furniture",
      "Shawl",
      "Lighting",
      "Shams, Bed Skirts & Bed Frame Draperies",
      "Wallet",
      "Travel Beds",
      "Kitchen",
      "Maternity Pillows",
      "Health",
      "Bouquets",
      "Nasal Aspirators",
      "Bath Rugs",
      "Papermaking",
      "Golf Shoes",
      "Tray",
      "Skirts",
      "Dress Shorts",
      "Grooming & Healthcare Kits",
      "Poster",
      "Automotive Enthusiast Merchandise",
      "Three Button",
      "Vase",
      "Tires & Wheels",
      "Housewares",
      "Feeding",
      "Car Subwoofers",
      "Dress Suit",
      "Box",
      "Instructional",
      "Brass Instruments",
      "Frame",
      "Dress - Pleat",
      "Activity Centers & Entertainers",
      "Magnet",
      "Teapot",
      "Golf Bags",
      "Inflatable Beds",
      "Basket",
      "Postcard",
      "Performance Parts & Accessories",
      "Refrigerators",
      "Other Furniture",
      "Cream and Sugar Set",
      "Crochet",
      "Cuff Links",
      "Toiletry Kits",
      "Stained Glass",
      "Lightweight",
      "Peasant",
      "Powders & Lotions",
      "Bookmark",
      "Washers & Dryers",
      "Blanket",
      "Gadget",
      "Pillow",
      "How to",
      "Photographs",
      "Block",
      "Instrument",
      "Gates & Doorways",
      "Sleep Positioners",
      "Pillows",
      "Photography",
      "Dusting",
      "Tiered",
      "Bubble Bath",
      "Mixed Media",
      "Replacement Parts",
      "Standard",
      "Button",
      "Slipcovers",
      "Pattern",
      "Small Animal",
      "Biography",
      "Action, Adventure",
      "Home Brewing & Wine Making",
      "Case",
      "Band & Orchestra",
      "Lithographs, Etchings & Woodcuts",
      "Flashes & Flash Accessories",
      "Bath Linen Sets",
      "Garage Storage & Organization",
      "Guest Books",
      "Graphic Design",
      "Outerwear",
      "Grooming",
      "Belt",
      "Beads",
      "Bubble",
      "Finding",
      "Leash",
      "One Button",
      "Pillows & Stools",
      "Dehumidifiers",
      "Dinnerware Set",
      "Microwaves",
      "Joggers",
      "Scale Dollhouse Miniature",
      "Telephone",
      "Sun Protection",
      "Bed",
      "Afghan",
      "Music",
      "Bed in a Bag",
      "Flatware",
      "Boating",
      "Home Entertainment Furniture",
      "Plush",
      "Travel Bathing Kits",
      "Invitations",
      "Electrical Safety",
      "Car Security & Convenience",
      "Clock",
      "Nail Care",
      "Art Doll",
      "Bathroom Safety",
      "Tag",
      "Calendar",
      "Patriotic",
      "Sweeping",
      "Religion",
      "Miniature",
      "Trim",
      "Bowling",
      "Hair Perms & Texturizers",
      "Illustration",
      "Trash & Recycling",
      "Toddler",
      "Presentation",
      "Diaper Stackers & Caddies",
      "Linens",
      "Toys",
      "Equipment",
      "Planters",
      "Casserole",
      "Brushes",
      "Prams",
      "Knitting",
      "Handmade",
      "Home Bar Furniture",
      "Kids' Bath",
      "Sponges",
      "Kitchen Safety",
      "Sport",
      "Fantasy",
      "Day of the Dead",
      "Illustrated",
      "Origami",
      "Television",
      "Compact",
      "Dishes",
      "Paper Ephemera",
      "Tuxedo",
      "Bathroom Furniture Sets",
      "New Year's",
      "Table",
      "Figurines",
      "Handkerchief",
      "Paint, Body & Trim",
      "Paperweights",
      "Needlepoint",
      "Historical, Military",
      "Diaper Bag",
      "Nursery Bedding",
      "Boxes",
      "Novelty",
      "Storage Cabinets",
      "Chair",
      "Doormats",
      "Human Figure Doll",
      "Bass Guitars",
      "Carpenter, Utility",
      "Women's Golf Clubs",
      "Scale Models",
      "Engineering & Transportation",
      "Just Married",
      "Hair Coloring Tools",
      "Competitive Swimwear",
      "Fixture",
      "Seat Covers",
      "Holiday Décor Storage",
      "Kids' Flatware",
      "Cotton & Swabs",
      "Candles",
      "Hanukkah",
      "New Years",
      "Burning",
      "Horror",
      "Light",
      "Patchwork",
      "Necktie",
      "Fashion Dolls Apparel",
      "Felted",
      "Feather Beds",
      "Butter Dish",
      "Advertisement",
      "Changing Kits",
      "Playard Bedding",
      "Pitcher",
      "Freezers & Ice Makers",
      "Doll Clothing",
      "Live Sound & Stage",
      "Chain",
      "Hair Relaxers",
      "Oils & Fluids",
      "Suits & Blazers",
      "Scifi",
      "Collages",
      "Track & Field",
      "Office",
      "Quilt",
      "Videogame",
      "Amigurumi",
      "Badminton",
      "Seasonal",
      "Entertaining",
      "Pot Holder",
      "Four Button",
      "Platter",
      "Carving",
      "Step Stools",
      "Beading",
      "Books and Zines",
      "Decorating",
      "Humor",
      "Fireplaces & Accessories",
      "Coasters",
      "Draft Stoppers",
      "Album",
      "Educational",
      "Mirror",
      "Safety Caps",
      "Animals",
      "Bathroom Furniture",
      "Cleaning",
      "Garbage Disposals",
      "Tandem",
      "Edge & Corner Guards",
      "Fabric Postcard",
      "House",
      "Bathroom Shelves",
      "Cozy",
      "Primitive",
      "Zipper",
      "Bicycle Child Seats & Trailers",
      "Nursery Furniture",
      "Frames",
      "Entertainment",
      "Storage",
      "Fiber Art",
      "Map",
      "Shelf",
      "Price Guides & Publications",
      "Double Breasted",
      "Non-Slip Bath Mats",
      "Serving",
      "Artist Bears",
      "Bear",
      "Portraits",
      "Rails & Rail Guards",
      "Ephemera",
      "Pretend",
      "Home",
      "Computer",
      "Professional & Trade",
      "Dishwashers",
      "Bedroom",
      "Something Blue",
      "Crib Netting",
      "Towel",
      "Doorstops",
      "Cuff",
      "Pet Food",
      "St Patricks",
      "International Publications",
      "Storage Solutions",
      "Pad",
      "Aceo",
      "Tiles",
      "RV Parts & Accessories",
      "Doll Clothes",
      "Child Friendly",
      "Bathroom",
      "Rugs",
      "Shirts & Tops",
      "Shoulder Bag",
      "Sandals",
      "Fashion Sneakers",
      "T-shirts",
      "Wallets",
      "Knee-Length",
      "Tops & T-Shirts",
      "Bracelets",
      "Slim, Skinny",
      "Dolls & Accessories",
      "Home Décor Accents",
      "Two-Piece",
      "Action Figures & Statues",
      "Earrings",
      "Hats",
      "One-Pieces",
      "Rings",
      "Body",
      "Hooded",
      "Accessories",
      "Cell Phone Accessories",
      "Coffee & Tea Accessories",
      "Jackets",
      "Totes & Shoppers",
      "Sports Bras",
      "Messenger & Crossbody",
      "Sunglasses",
      "Cell Phones & Smartphones",
      "Panties",
      "Cardigan",
      "Dresses",
      "Crewneck",
      "Tunic",
      "Watches",
      "Bottoms",
      "Pumps",
      "DVD",
      "Makeup Brushes & Tools",
      "Boot Cut",
      "Arts & Crafts",
      "Coats & Jackets",
      "Leggings",
      "Tracksuits & Sweats",
      "Makeup Sets",
      "Nails",
      "Stuffed Animals & Plush",
      "Full-Length",
      "Personal Care",
      "Flats",
      "Loafers & Slip-Ons",
      "Action Figure",
      "Hair Accessories",
      "Dining & Entertaining",
      "Bath",
      "Collectibles",
      "Home Fragrance",
      "Shipping Supplies",
      "Headphones",
      "Socks",
      "Backpack Style",
      "Fitness accessories",
      "Consoles",
      "Sticker",
      "Top & T-shirts",
      "Cosmetic Bags",
      "Jerseys",
      "One-Piece",
      "Hair Styling Tools",
      "Fleece Jacket",
      "Hoodie",
      "Button Down Shirt",
      "Cables & Adapters",
      "NFL",
      "Knit Top",
      "Asymmetrical Hem",
      "Literature & Fiction",
      "Full Zip",
      "iPad",
      "Straight, Pencil",
      "Windbreaker",
      "Animation",
      "Sweatshirt, Pullover",
      "Candles & Home Scents",
      "Hobbies",
      "Mini",
      "Sports",
      "Vest",
      "Health Care",
      "Casual Pants",
      "Maxi",
      "Belts",
      "Lingerie",
      "Scarves & Wraps",
      "Dogs",
      "Brushes & Applicators",
      "Styling Products",
      "Jewelry",
      "Kitchen Utensils & Gadgets",
      "Video Game",
      "Polo, Rugby",
      "Satchel",
      "Costume",
      "Men",
      "Keychain",
      "Candles & Holders",
      "Halloween",
      "Blu-Ray",
      "Building Toys",
      "Christmas",
      "Screen Protectors",
      "Chargers & Cradles",
      "Jeans",
      "Purse",
      "Portable Audio & Accessories",
      "Baby & Toddler Toys",
      "Fitness technology",
      "Slippers",
      "Button-Front",
      "Hiking & Camping",
      "Backpacks & Carriers",
      "Bottle-Feeding",
      "G-Strings & Thongs",
      "Headsets",
      "School Supplies",
      "Jean Jacket",
      "Shampoo & Conditioner Sets",
      "Laptops & Netbooks",
      "Classic, Straight Leg",
      "Backpacks, Bags & Briefcases",
      "Capris, Cropped",
      "Blankets & Throws",
      "Household Cleaners",
      "Jewelry Boxes & Organizers",
      "Swimwear",
      "CD",
      "Track & Sweat Pants",
      "Bedding",
      "Sports Nutrition",
      "Straight Leg",
      "Children's Books",
      "Capri, Cropped",
      "Halter",
      "Glass",
      "Digital Cameras",
      "Dress Pants",
      "Sweater",
      "Blazer",
      "Figurine",
      "Handbag",
      "Lanyard",
      "Education & Teaching",
      "Hair",
      "Hair & Scalp Treatments",
      "Motorcycle",
      "Bakeware",
      "Skirts, Skorts & Dresses",
      "Diaper Bags",
      "Doll",
      "Disposable Diapers",
      "Video Gaming Merchandise",
      "Sets",
      "Others",
      "Gadgets",
      "Dress Up & Pretend Play",
      "Comics",
      "Wine, Beer & Beverage Coolers",
      "Scrapbooking",
      "Camera & Photo Accessories",
      "MLB",
      "Boys",
      "Learning & Education",
      "Puffer",
      "Charm",
      "Wristlet",
      "Toy Remote Control & Play Vehicles",
      "NCAA",
      "Tops & Blouses",
      "Film Photography",
      "Beach Accessories",
      "V-Neck",
      "Mid-Calf",
      "Components & Parts",
      "Party Supplies",
      "Cover-Ups",
      "Mules & Clogs",
      "Sheets & Pillowcases",
      "Pants",
      "Sun",
      "Storage & Organization",
      "Bathroom Accessories",
      "Electronics",
      "Decorative Pillows",
      "Medical Supplies & Equipment",
      "Writing",
      "Souvenir",
      "Kitchen Appliances",
      "Tumbler",
      "Mug",
      "Boyfriend",
      "Scrubs & Body Treatments",
      "Posters & Prints",
      "Patch",
      "Vinyl",
      "Khakis, Chinos",
      "Pacifiers & Accessories",
      "Toy",
      "Electronics for Kids",
      "Flare",
      "Lamps& Accessories",
      "A-Line",
      "Photo Albums & Frames",
      "Cloth Diapers",
      "Cleansers",
      "Hands & Nails",
      "Tapestries",
      "Puzzles",
      "Exterior Accessories",
      "Cargo",
      "Drives, Storage & Media",
      "Ceramic",
      "Polo Shirt",
      "Storage & Containers",
      "Casual Shorts",
      "Peacoat",
      "Corset",
      "Baseball & Softball",
      "Hair Color",
      "Breastfeeding",
      "NBA",
      "Car",
      "Wrap",
      "Military",
      "Dance",
      "Window Treatments",
      "Comforters & Sets",
      "Cowl Neck",
      "Tools & Equipment",
      "Organization",
      "Collared",
      "Vest, Sleeveless",
      "Ink & Toner",
      "Girls",
      "Calendars",
      "Cookware",
      "Soccer",
      "Pendant",
      "Bags & Cases",
      "Nail Tools",
      "Yoga & Pilates",
      "Pleated",
      "Cleats",
      "Trench",
      "Sports & Outdoor Play",
      "Book",
      "Ring",
      "Kitchen & Table Linens",
      "Raincoat",
      "Conditioners",
      "Mirrors",
      "Dress Shirts",
      "Makeup Remover",
      "Clothing & Closet Storage",
      "Air Fresheners",
      "Shampoos",
      "Scoop Neck",
      "Breastfeeding Pillows & Stools",
      "Poncho",
      "Tank",
      "Ties",
      "Baby",
      "Indoor",
      "Cards",
      "Luggage",
      "Necklace",
      "Pant Suit",
      "Televisions",
      "Fishing",
      "Kids' Room Décor",
      "Football",
      "Skateboard",
      "Oxfords",
      "Bowl",
      "Overalls",
      "Cup",
      "Household Supplies",
      "Food",
      "Home Speakers & Subwoofers",
      "VHS",
      "Small Appliances",
      "Brooch",
      "Turtleneck, Mock",
      "Feet",
      "Medical Books",
      "Basic Supplies",
      "Full Skirt",
      "Lights & Lighting Accessories",
      "Clutch",
      "Swim Trunks",
      "Electronic",
      "Bathing Accessories",
      "Hobo",
      "Networking & Connectivity",
      "Relaxed",
      "Bracelet",
      "Styling Tools",
      "Parka",
      "Golf Apparel",
      "Car Electronics & Accessories",
      "Decorations",
      "Racks, Shelves & Drawers",
      "Printers, Scanners & Supplies",
      "Bike & Skate",
      "Wine Accessories",
      "Athletic Training",
      "Swings, Jumpers & Bouncers",
      "Clocks",
      "Tote",
      "Family Planning Tests",
      "Car Seats",
      "Wipes & Holders",
      "Interior Accessories",
      "Pinback Button",
      "Decorative Pillows, Inserts & Covers",
      "Religion & Spirituality",
      "Eyewear",
      "Stationery",
      "Flight",
      "Snowboard",
      "Gloves",
      "Water Sports",
      "Valentine",
      "Sci-Fi, Fantasy",
      "Baskets",
      "Wall Decor",
      "Vintage",
      "Sweatercoat",
      "Animal",
      "Painting",
      "Waxing",
      "Batteries",
      "Easter",
      "Supplies",
      "Turtleneck",
      "Duvet Covers & Sets",
      "Paintings",
      "Monitors",
      "Thermal Underwear",
      "DVD & Blu-ray Players",
      "Men's Golf Clubs",
      "Baskets & Bins",
      "Kids' Bedding",
      "Pin",
      "Change Purse",
      "Washcloths & Towels",
      "Bead",
      "Area Rugs & Pads",
      "Baby Seats",
      "Drawings",
      "Vacuums & Floor Care",
      "Bottles",
      "Christian Books & Bibles",
      "Wool",
      "Camera",
      "Towels",
      "Kitchen Knives & Cutlery Accessories",
      "Skin Care",
      "NHL",
      "Arts & Photography",
      "Vases",
      "Thanksgiving",
      "Home Decor",
      "Stationery & Party Supplies",
      "Fabric",
      "Work & Safety",
      "Cage",
      "Lenses & Filters",
      "Water Coolers & Filters",
      "Nursery Décor",
      "GPS Units & Equipment",
      "Novelty & Gag Toys",
      "Game",
      "Guitars",
      "Lifestyle & Cultures",
      "Microphones & Accessories",
      "Outdoor",
      "Baby Gyms & Playmats",
      "Backpack",
      "Desktops & All-In-Ones",
      "Jacket",
      "Yarn",
      "Wall Hanging",
      "Business & Money",
      "Instrument Accessories",
      "Home Surveillance",
      "Baby & Child Care",
      "Bathing Tubs & Seats",
      "Glassware",
      "Sewing",
      "Reference",
      "Science & Math",
      "Boxing & MMA",
      "Pouch",
      "Quilts",
      "Tripods & Supports",
      "Board Shorts",
      "Hat",
      "Hip Bag",
      "Basketball",
      "Golf Balls",
      "Leg Warmers",
      "100 Years or Older",
      "Knitting Supplies",
      "Shopping Cart Covers",
      "Car Stereos & Components",
      "Dress",
      "Porcelain",
      "Bed Pillows",
      "Kids",
      "Journal",
      "Tshirt",
      "Camcorders",
      "Hair Loss Products",
      "Children",
      "Volleyball",
      "Strength training",
      "Biographies & Memoirs",
      "Motorcycle & Powersports",
      "Asymmetrical",
      "Cookbook",
      "Linen",
      "Salt and Pepper Shakers",
      "Watch",
      "Teething Relief",
      "Fans",
      "Collar",
      "Stringed Instruments",
      "Changing Pads & Covers",
      "Highchairs & Booster Seats",
      "Shirt",
      "Prenatal Monitoring Devices",
      "Kids' Furniture, Décor & Storage",
      "Denim",
      "Shrug",
      "Tennis & Racquets",
      "Stamps",
      "Toothbrushes",
      "Travel Systems",
      "Potties & Seats",
      "Epilators",
      "Henley",
      "Two Button",
      "Tweezers",
      "Print",
      "Food Service Equipment & Supplies",
      "Sets & Kits",
      "Skirt Suit",
      "Snowsuits & Bibs",
      "Fiction",
      "DJ, Electronic Music & Karaoke",
      "Dress - Flat Front",
      "Art",
      "Rainwear",
      "50 To 75 Years",
      "Mattress Pads",
      "Magic",
      "Sweaters",
      "Humidifiers",
      "Gift Wrap",
      "Humidifiers & Vaporizers",
      "Lacrosse",
      "Keyboards",
      "Home Audio",
      "Notebook",
      "Strategy Guides",
      "Scarf",
      "Laundry Storage & Organization",
      "Leather",
      "Clothing",
      "Corduroys",
      "Baguette",
      "GPS Accessories & Mounts",
      "Wind & Woodwind Instruments",
      "Bags and Purses",
      "Sculptures",
      "Custom",
      "Mopping",
      "History",
      "Wide Leg",
      "Teethers",
      "Space Heaters",
      "Thermometers",
      "Hawaiian",
      "Garment Steamers",
      "Binoculars & Telescopes",
      "Diaper Pails & Refills",
      "Hockey",
      "Religious",
      "Cape",
      "Carpenter",
      "Tricycles, Scooters & Wagons",
      "Bowls",
      "Baggy, Loose",
      "All Other Sports",
      "Cabinet Locks & Straps",
      "Apron",
      "Track Jacket",
      "Harnesses & Leashes",
      "Paper Towels",
      "Amplifiers & Effects",
      "Personalized",
      "Walkers",
      "Formal",
      "Laptop",
      "Soaps & Cleansers",
      "Ornaments",
      "Track & Sweat Suits",
      "Maternity",
      "Living Room Furniture",
      "Drums & Percussion",
      "Swim Briefs",
      "Irons & Ironing Boards",
      "Cabochon",
      "Replacement Parts & Tools",
      "Board, Surf",
      "Cross Stitch",
      "Car Care",
      "Politics & Social Sciences",
      "75 To 100 Years",
      "Training Pants",
      "Lighting & Studio",
      "Birthday",
      "Vests",
      "Skirt",
      "Crafting",
      "Playards",
      "Plate",
      "Bedspreads & Coverlets",
      "Printmaking",
      "Pet Lover",
      "Polo",
      "Air Conditioners",
      "Buckle",
      "Varsity",
      "Radio",
      "Coaster",
      "Nonfiction",
      "Poetry",
      "Science",
      "Other Accessories",
      "Cake Toppers",
      "Candle Holder",
      "Shampoo Plus Conditioner",
      "Bathroom Storage & Organization",
      "Athletic Apparel",
      "Gift Sets",
      "Teacup",
      "Favors",
      "Bedroom Furniture",
      "Magnets",
      "Signs",
      "Studio Recording Equipment",
      "Car Speakers & Systems",
      "Comic",
      "Tape",
      "Planter",
      "Kitchen Storage & Organization",
      "Embroidery",
      "Kids' Furniture",
      "Air Purifiers",
      "Paper",
      "Trash Bags",
      "Outdoor Safety",
      "Puzzle",
      "Car Video",
      "Accessory",
      "Shampoo",
      "St Patrick's",
      "Home Office Furniture",
      "Furniture",
      "Shawl",
      "Lighting",
      "Shams, Bed Skirts & Bed Frame Draperies",
      "Wallet",
      "Travel Beds",
      "Kitchen",
      "Maternity Pillows",
      "Health",
      "Bouquets",
      "Nasal Aspirators",
      "Bath Rugs",
      "Papermaking",
      "Golf Shoes",
      "Tray",
      "Skirts",
      "Dress Shorts",
      "Grooming & Healthcare Kits",
      "Poster",
      "Automotive Enthusiast Merchandise",
      "Three Button",
      "Vase",
      "Tires & Wheels",
      "Housewares",
      "Feeding",
      "Car Subwoofers",
      "Dress Suit",
      "Box",
      "Instructional",
      "Brass Instruments",
      "Frame",
      "Dress - Pleat",
      "Activity Centers & Entertainers",
      "Magnet",
      "Teapot",
      "Golf Bags",
      "Inflatable Beds",
      "Basket",
      "Postcard",
      "Performance Parts & Accessories",
      "Refrigerators",
      "Other Furniture",
      "Cream and Sugar Set",
      "Crochet",
      "Cuff Links",
      "Toiletry Kits",
      "Stained Glass",
      "Lightweight",
      "Peasant",
      "Powders & Lotions",
      "Bookmark",
      "Washers & Dryers",
      "Blanket",
      "Gadget",
      "Pillow",
      "How to",
      "Photographs",
      "Block",
      "Instrument",
      "Gates & Doorways",
      "Sleep Positioners",
      "Pillows",
      "Photography",
      "Dusting",
      "Tiered",
      "Bubble Bath",
      "Mixed Media",
      "Replacement Parts",
      "Standard",
      "Button",
      "Slipcovers",
      "Pattern",
      "Small Animal",
      "Biography",
      "Action, Adventure",
      "Home Brewing & Wine Making",
      "Case",
      "Band & Orchestra",
      "Lithographs, Etchings & Woodcuts",
      "Flashes & Flash Accessories",
      "Bath Linen Sets",
      "Garage Storage & Organization",
      "Guest Books",
      "Graphic Design",
      "Outerwear",
      "Grooming",
      "Belt",
      "Beads",
      "Bubble",
      "Finding",
      "Leash",
      "One Button",
      "Pillows & Stools",
      "Dehumidifiers",
      "Dinnerware Set",
      "Microwaves",
      "Joggers",
      "Scale Dollhouse Miniature",
      "Telephone",
      "Sun Protection",
      "Bed",
      "Afghan",
      "Music",
      "Bed in a Bag",
      "Flatware",
      "Boating",
      "Home Entertainment Furniture",
      "Plush",
      "Travel Bathing Kits",
      "Invitations",
      "Electrical Safety",
      "Car Security & Convenience",
      "Clock",
      "Nail Care",
      "Art Doll",
      "Bathroom Safety",
      "Tag",
      "Calendar",
      "Patriotic",
      "Sweeping",
      "Religion",
      "Miniature",
      "Trim",
      "Bowling",
      "Hair Perms & Texturizers",
      "Illustration",
      "Trash & Recycling",
      "Toddler",
      "Presentation",
      "Diaper Stackers & Caddies",
      "Linens",
      "Toys",
      "Equipment",
      "Planters",
      "Casserole",
      "Brushes",
      "Prams",
      "Knitting",
      "Handmade",
      "Home Bar Furniture",
      "Kids' Bath",
      "Sponges",
      "Kitchen Safety",
      "Sport",
      "Fantasy",
      "Day of the Dead",
      "Illustrated",
      "Origami",
      "Television",
      "Compact",
      "Dishes",
      "Paper Ephemera",
      "Tuxedo",
      "Bathroom Furniture Sets",
      "New Year's",
      "Table",
      "Figurines",
      "Handkerchief",
      "Paint, Body & Trim",
      "Paperweights",
      "Needlepoint",
      "Historical, Military",
      "Diaper Bag",
      "Nursery Bedding",
      "Boxes",
      "Novelty",
      "Storage Cabinets",
      "Chair",
      "Doormats",
      "Human Figure Doll",
      "Bass Guitars",
      "Carpenter, Utility",
      "Women's Golf Clubs",
      "Scale Models",
      "Engineering & Transportation",
      "Just Married",
      "Hair Coloring Tools",
      "Competitive Swimwear",
      "Fixture",
      "Seat Covers",
      "Holiday Décor Storage",
      "Kids' Flatware",
      "Cotton & Swabs",
      "Candles",
      "Hanukkah",
      "New Years",
      "Burning",
      "Horror",
      "Light",
      "Patchwork",
      "Necktie",
      "Fashion Dolls Apparel",
      "Felted",
      "Feather Beds",
      "Butter Dish",
      "Advertisement",
      "Changing Kits",
      "Playard Bedding",
      "Pitcher",
      "Freezers & Ice Makers",
      "Doll Clothing",
      "Live Sound & Stage",
      "Chain",
      "Hair Relaxers",
      "Oils & Fluids",
      "Suits & Blazers",
      "Scifi",
      "Collages",
      "Track & Field",
      "Office",
      "Quilt",
      "Videogame",
      "Amigurumi",
      "Badminton",
      "Seasonal",
      "Entertaining",
      "Pot Holder",
      "Four Button",
      "Platter",
      "Carving",
      "Step Stools",
      "Beading",
      "Books and Zines",
      "Decorating",
      "Humor",
      "Fireplaces & Accessories",
      "Coasters",
      "Draft Stoppers",
      "Album",
      "Educational",
      "Mirror",
      "Safety Caps",
      "Animals",
      "Bathroom Furniture",
      "Cleaning",
      "Garbage Disposals",
      "Tandem",
      "Edge & Corner Guards",
      "Fabric Postcard",
      "House",
      "Bathroom Shelves",
      "Cozy",
      "Primitive",
      "Zipper",
      "Bicycle Child Seats & Trailers",
      "Nursery Furniture",
      "Frames",
      "Entertainment",
      "Storage",
      "Fiber Art",
      "Map",
      "Shelf",
      "Price Guides & Publications",
      "Double Breasted",
      "Non-Slip Bath Mats",
      "Serving",
      "Artist Bears",
      "Bear",
      "Portraits",
      "Rails & Rail Guards",
      "Ephemera",
      "Pretend",
      "Home",
      "Computer",
      "Professional & Trade",
      "Dishwashers",
      "Bedroom",
      "Something Blue",
      "Crib Netting",
      "Towel",
      "Doorstops",
      "Cuff",
      "Pet Food",
      "St Patricks",
      "International Publications",
      "Storage Solutions",
      "Pad",
      "Aceo",
      "Tiles",
      "RV Parts & Accessories",
      "Doll Clothes",
      "Child Friendly",
      "Bathroom",
      "Rugs"
    ];
    
    const brand_name = [
      "un-branded",
      "Nike",
      "PINK",
      "Victoria's Secret",
      "LuLaRoe",
      "Apple",
      "FOREVER 21",
      "Nintendo",
      "Lululemon",
      "Michael Kors",
      "American Eagle",
      "Rae Dunn",
      "Sephora",
      "Disney",
      "Coach",
      "Bath & Body Works",
      "Adidas",
      "Funko",
      "Under Armour",
      "Sony",
      "Old Navy",
      "Hollister",
      "Carter's",
      "The North Face",
      "Urban Decay",
      "Independent",
      "Too Faced",
      "Xbox",
      "Brandy Melville",
      "Kate Spade",
      "MAC",
      "Gap",
      "Kendra Scott",
      "Tarte",
      "UGG Australia",
      "VANS",
      "Polo Ralph Lauren",
      "Charlotte Russe",
      "Vera Bradley",
      "Samsung",
      "SeneGence",
      "Converse",
      "Ralph Lauren",
      "H&M",
      "Tory Burch",
      "Free People",
      "Air Jordan",
      "Miss Me",
      "Louis Vuitton",
      "Express",
      "Abercrombie & Fitch",
      "NYX",
      "Pokemon",
      "Hot Topic",
      "Lilly Pulitzer",
      "Calvin Klein",
      "Levi's®",
      "Kylie Cosmetics",
      "PANDORA",
      "Mary Kay",
      "American Boy & Girl",
      "Anastasia Beverly Hills",
      "Benefit",
      "Torrid",
      "Chanel",
      "Tommy Hilfiger",
      "Steve Madden",
      "Scentsy",
      "Aeropostale",
      "Mossimo",
      "Vintage",
      "Columbia",
      "American Girl ®",
      "Fitbit",
      "Kat Von D",
      "Bebe",
      "Customized & Personalized",
      "GUESS",
      "ALEX AND ANI",
      "Urban Outfitters",
      "Ray-Ban",
      "Betsey Johnson",
      "Gucci",
      "Jordan",
      "Rock Revival",
      "Target",
      "patagonia",
      "Clinique",
      "Harley-Davidson",
      "Mattel®",
      "Reebok",
      "Gymboree",
      "vineyard vines",
      "Dooney & Bourke",
      "Xhilaration",
      "PUMA",
      "Juicy Couture",
      "Maybelline",
      "NFL",
      "True Religion Brand Jeans",
      "American Apparel",
      "Younique",
      "LEGO",
      "Maurices",
      "J. Crew",
      "Justice",
      "Fossil",
      "Estee Lauder",
      "ZARA",
      "Elmers",
      "Ulta",
      "Littlest Pet Shop",
      "Rue21",
      "L'Oreal",
      "Smashbox",
      "Buckle",
      "Stamped",
      "Tiffany & Co.",
      "Lancome",
      "Beats",
      "Barbie",
      "Champion",
      "Supreme",
      "Nars",
      "Fisher-Price",
      "Fashion Nova",
      "Wet n Wild",
      "Lucky Brand",
      "Banana Republic",
      "TOMS",
      "PopSockets",
      "Morphe Cosmetics",
      "Hasbro",
      "Ann Taylor LOFT",
      "ColourPop Cosmetics",
      "Konami",
      "MARC JACOBS",
      "Wet Seal",
      "Hello Kitty",
      "Beats by Dr. Dre",
      "lululemon athletica",
      "Fuji",
      "IT Cosmetics",
      "Merona",
      "Birkenstock",
      "Burberry",
      "Osh Kosh B'gosh",
      "e.l.f.",
      "Lush",
      "rue",
      "Anthropologie",
      "Gymshark",
      "Crocs",
      "Timberland",
      "Avon",
      "The Children's Place",
      "Star Wars",
      "Revlon",
      "Starbucks",
      "Lorac",
      "Marvel",
      "Stila",
      "Christian Dior",
      "Jessica Simpson",
      "Nordstrom",
      "adidas Originals",
      "LG",
      "Pyrex",
      "New York & Company",
      "New Balance",
      "Nine West",
      "Pacific Sunwear",
      "Milani",
      "HP",
      "Lane Bryant",
      "Oakley",
      "Children's Place",
      "SKECHERS",
      "Microsoft",
      "Canon",
      "Motherhood Maternity",
      "Jeffree Star Cosmetics",
      "Hunter"
    ];
    // Initialize the autocomplete functionality
    $(function() {
      $("#category_1").autocomplete({
        source: cat_1
      });

      $("#category_2").autocomplete({
        source: cat_2
      });

      $("#category_3").autocomplete({
        source: cat_3
      });

      $("#brand_name").autocomplete({
        source: brand_name
      });
    });
  </script>

</head>
<body>
  <header>
    <h1>Summer-of-code-2023 IIT-Delhi</h1>
  </header>
  <main>
    <div class="container">
    <div class="search-section">
      <h2>Search for a Product</h2>
      <form action="/search_product" method="POST">
        <input type="text" name="search" placeholder="Enter a product name">
        <button type="submit">Search</button>
      </form>
    </div>
    <div class="suggest-section">
      <h2>Suggest Price for a Product</h2>
      <form action="/suggest_price" method="POST">
        <label for="name">Listing Title</label>
        <input type="text" id="name" name="name" required>
      
        <label for="category_1">Category 1</label>
        <input type="text" id="category_1" name="category_1" required>

        <label for="category_2">Category 2</label>
        <input type="text" id="category_2" name="category_2" required>

        <label for="category_3">Category 3</label>
        <input type="text" id="category_3" name="category_3" required>
      
        <label for="brand_name">Brand</label>
        <input type="text" id="brand_name" name="brand_name" required>
      
        <label for="shipping">Shipping</label>
        <select id="shipping" name="shipping" required>
          <option value="1">Paid by Seller</option>
          <option value="0">Paid by Buyer</option>
        </select>

        <label for="item_condition">Item Condition</label>
        <select id="item_condition" name="item_condition" required>
          <option value="1">New</option>
          <option value="2">Like New</option>
          <option value="3">Good</option>
          <option value="4">Fair</option>
          <option value="5">Poor</option>
        </select>
      
        <label for="item_description">Item Description</label>
        <textarea id="item_description" name="item_description" required></textarea>
      
        <button type="submit">Submit</button>
      </form>  
      
    </div>
    </div>
  </main>
</body>
</html>
