html, body {
    margin:0;
    height:100%;
    display: block;
}

header {
    align-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    text-align: center;
    z-index: 100;
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: transparent;
}

.header-logo p{
    display: inline-block;
    position: relative;
    margin: 2.4rem 0 0 15vw;
    padding: 0 30vw 0 0;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    font-size: 4rem;
    letter-spacing: 0.2rem;
    color: #4A99D3;
}

.header-nav {
    display: inline-block;
    position: relative;
    margin: 1.8rem 15vw 0 0;
}

.header-nav li {
    display: inline-block;
    align-content: center;
    padding-left: 0;
    position: relative;
    list-style: none;
    margin-left: 0;
    margin-top: 18px;
}

.header-nav li a{
    display: inline-block;
    padding-left: 4rem;
    position: relative;

    font-family: 'Archivo', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;

    text-decoration: none;
}

.header-current{
    color: #4A99D3;
}

.header-noncurrent{
    color: #0f0f0f;
    transition: all 0.1s ease-out 0.01s;
}
.header-noncurrent:hover{
    color: #4A99D3;
}

section {
    min-height: 95vh;

    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;

    padding: 3rem;
    padding-bottom: 0;
    
}

.arrow {
    width: 2vw;
    padding: 6rem;
    height: auto;
    filter: invert(74%) sepia(22%) saturate(7473%) hue-rotate(178deg) brightness(87%) contrast(88%);
}

.help-section {
    position: relative;
    display: flex;

    justify-content: left;

    margin-left: 15vw;
    margin-top: 0rem;
    margin-bottom: 0rem;

    min-height: 145vh;
}

.help-section .help-title {
    font-family: 'Archivo', sans-serif;
    font-size: 2rem;
    font-weight: 900;

    text-decoration: none;
    max-width: 25vw;

    position: absolute;
    top: 10vh;
    left: 10vw;
}

.help-box {
    min-width: 380px;

    max-width: 380px;
    max-height: 580px;
    border-radius: 10px;
    box-shadow: 5px 20px 50px 0px rgba(74, 153, 211, 0.20);

    justify-content: left;
    padding: 2rem;
    position: absolute;
    top: 10vh;
    right: 22vw;

}

.box1 {
    top: 10vh;
}
.box2 {
    top: 700px;
}
.box3 {
    top: 40vh;
    right: 50vw;
}

.help-box .help-title-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;

    padding-top: 1rem;
    padding-bottom: 1rem;
}

.help-box h3 {
    font-family: 'Archivo', sans-serif;
    font-size: 1.7rem;
    font-weight: 600;

    text-decoration: none;
}

.help-box p {
    font-family: 'Archivo', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;

    text-decoration: none;
}

.help-box a {
    font-family: 'Archivo', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;

    text-decoration: none;
    color: #4A99D3;

    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: all 0.1s ease-out 0.01s;
}

.help-box a:hover {
    color: #000000;
}

.help-box a img {
    max-width: 1rem;
    height: auto;
    padding-left: 0.7rem;
    filter: invert(74%) sepia(22%) saturate(7473%) hue-rotate(178deg) brightness(87%) contrast(88%);
}

.how-section {
    display: flex;
    flex-direction: column;

    justify-content: center;
    padding: 0;
    min-height: 0;

    background-color: rgba(74, 153, 211, 0.10);
}

.how-section h1 {
    font-family: 'Archivo', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    padding-top: 2rem;

    text-decoration: none;
    color: #4A99D3;
}

.how-section h3 {
    font-family: 'Archivo', sans-serif;
    font-size: 1.7rem;
    font-weight: 600;

    text-decoration: none;

    justify-content: center;
    justify-self: center;
    align-items: center;
}

.how-section p {
    font-family: 'Archivo', sans-serif;
    font-size: 1.3rem;
    font-weight: 300;
    text-align: center;

    text-decoration: none;
}

.how-section img {

    max-width: 5rem;
    height: auto;

    justify-content: center;
    justify-self: center;
    align-items: center;
}

.how-section .how-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.how-section .how-content .how-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 300px;
    padding: 4rem;
}

.test-section {
    display: flex;
    flex-direction: column;

    justify-content: center;
    min-height: 0;
}

.test-section h1 {
    font-family: 'Archivo', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    padding: 2rem;

    text-decoration: none;
}

.test-section .test-layout {
    display: flex;
    flex-direction: row;

    max-width: 80vw;

    justify-content: center;
    padding: 0;
    min-height: 0;
}

.test-image {
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.test-image img {
    max-width: 10vw;
    height: auto;

    border-radius: 5vw;
}

.test-content {
    display: flex;
    flex-direction: column;

    max-width: 30vw;

    justify-content: center;
    padding-left: 5vw;
    padding-bottom: 6rem;
    min-height: 0;
}

.test-content img {
    max-width: 3vw;
    height: auto;

    opacity: 50%;

    justify-content: center;
    padding: 0;
    min-height: 0;
}

.test-content h4 {
    font-family: 'Archivo', sans-serif;
    font-size: 1.3rem;
    font-weight: 300;

    text-decoration: none;
}

.test-content h3 {
    font-family: 'Archivo', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;

    text-decoration: none;
}

.footer-section {
    padding: 0%;
    margin: 0;
    min-height: 0;
    max-height: fit-content;
    background-color: #4A99D3;

    justify-content: left;
}

.footer-section a   {
    padding: 0%;
    margin: 0;
    min-height: 0;
    max-height: fit-content;
    color: #4A99D3;

    justify-content: left;
}

.footer-section .footer-logo a{
    display: inline-block;
    position: relative;

    padding-left: 18vw;

    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    font-size: 4rem;
    letter-spacing: 0.2rem;
    color: white;

    text-decoration: none;
}